language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: false
node_js:
  - 'lts/*'
  - '14'
jobs:
  allow_failures:
    node_js: 'lts/*'
after_success:
  - npm run travis-deploy-once "npm run semantic-release"
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
script:
  - npm run lint
  - npm run test-coverage
  - npm run coveralls || true
