language: node_js
node_js:
  - "8"
  - "7"
  - "6"
  - "5"
  - "4.4"
  - "4.3"
  - "4.2"
  - "4.1"
  - "4.0"
  - "0.10"
  - "0.12"
sudo: false

# https://docs.travis-ci.com/user/languages/javascript-with-nodejs#Node.js-v4-(or-io.js-v3)-compiler-requirements
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

before_script:
  - npm prune

script:
  - npm run lint
  - npm run test-coverage
  - npm run coveralls || true

after_success:
  - 'curl -Lo travis_after_all.py https://git.io/travis_after_all'
  - python travis_after_all.py
  - export $(cat .to_export_back) &> /dev/null
  - npm run semantic-release

branches:
  except:
    - /^v\d+\.\d+\.\d+$/

cache:
  directories:
    - node_modules

notifications:
  email: false
